<main class="main">
    <section class="header-section">
        <h4>Data&nbsp;Care</h4>
        <button class="btn" (click)="logout()"> <fa-icon [icon]="faPowerOff"></fa-icon> Log Out</button>
    </section>
    

    <section class="body-section">

        <div class="docket-wrapper">
            <div class="heading">
                <h4>Hi&nbsp;Sainez!</h4>
                <p>Where to ??</p>
            </div>

            <div class="list-wrap">
                <h4 class="list-item" (click)="navigateTo('/out-patient')">
                    Out Patient
                </h4>
                <h4 class="list-item">
                    In Patient
                </h4>
                <h4 class="list-item">
                    DHIS2
                </h4>
                <h4 class="list-item">
                    Administration
                </h4>
            </div>
        </div>
    </section>


</main>