@import 'src/styles.sass'


.main
    width: 100%
.main .top-section
    width: 100%
    background-color: brandColor(primary)

.main .top-section .top-section-wrap
    display: flex 
    align-items: stretch
    padding: .5em
    @include desktop_lg
        flex-direction: column

.main .top-section .top-section-wrap .wrap-1 
    margin: auto auto auto 0
    display: flex 
    align-items: stretch
    @include desktop_lg
        flex-direction: column
    .item
        margin: auto
        padding: 0 1em 0 0
        display: flex 
        align-items: stretch
        fa-icon
            color: white
            margin: auto

        h4 
            font-size: $size6
            color: white
            margin: auto
            padding: 0 .5em

.main .top-section .top-section-wrap .wrap-2
    display: flex 
    align-items: stretch
    margin: auto 0 auto auto
    fa 
        color: white
        margin: auto .5em














.navbar-section
    width: 100%
    height: fit-content
    position: relative
    z-index: 0
    background-color: white
    &.to-hide
        position: relative
        opacity: 0
        transition: opacity 2s
        -webkit-transition: opacity 2s
        -moz-transition: opacity 2s
        -ms-transition: opacity 2s
        -o-transition: opacity 2s
    &.to-fixed 
        position: fixed
        top: 0
        left: 0
        width: 100%
        z-index: 1000
        opacity: 1
        transition: opacity 2s
        -webkit-transition: opacity 2s
        -moz-transition: opacity 2s
        -ms-transition: opacity 2s
        -o-transition: opacity 2s
.navbar-section .navbar
    background-color: white
    padding: .3em 1em
    border: none
.navbar-section .navbar .navbar-brand
    font-size: $size3
    font-weight: bold
    text-transform: uppercase
    color: brandColor(primary) 
.navbar-section .navbar .navbar-brand img
    width: 100px
.navbar-section .navbar .navbar-toggler
    background-color: brandColor(secondary) 
    fa-icon
        color: brandColor(primary)
.navbar-section .navbar .navbar-collapse
    display: flex
.navbar-section .navbar .navbar-collapse .nav-pills
    width: 100%
    justify-content: flex-end
.navbar-section .navbar .navbar-collapse .nav-pills .nav-item
    cursor: pointer
    border-bottom: solid 2px transparent
    margin: 0 .2em
    &:hover
        border-bottom: solid 2px grayColor(g200)
    &.dropup
        border-bottom: solid 2px brandColor(secondary)
    &.active
        border-bottom: solid 2px brandColor(secondary)
        .nav-link
            font-weight: bold
.navbar-section .navbar .navbar-collapse .nav-pills .nav-item.login
    border-radius: 1em
    width: 7em
    text-align: center
    background-image: linear-gradient(to right, darken( brandColor(primary), 10)  , lighten( brandColor(primary), 10) )
    border: none
    margin: auto 0 auto 4em
    @include desktop_lg
        margin: 0 .2em
    &:hover
        border: none
        box-shadow: 0 0 30px rgba(0, 0, 0, .3)
        background-image: linear-gradient(to right, darken( brandColor(secondary), 10)  , lighten( brandColor(secondary), 10) )
    .nav-link
        color: white
        text-align: center

.navbar-section .navbar .navbar-collapse .nav-pills .nav-item .nav-link
    cursor: pointer
    color: brandColor(primary)
    text-transform: uppercase

