
<article *ngIf="CustomLoader" class="custom-loader home">
    <div class="custom-loader-wrap">
        <div class="custom-loader-main">
        <div class="custom-loader-ball ball-one"></div>
        <div class="custom-loader-ball ball-two"></div>
        <div class="custom-loader-ball ball-three"></div>
        <div class="custom-loader-ball ball-four"></div>
        </div>
    </div>
  </article>



<main class="main">

<section class="top-section">
  <div class="container">
    <div class="top-section-wrap">
    <div class="wrap-1">
      <div class="item">
        <fa-icon [icon]="faEnvelope"></fa-icon>
        <h4>datacare@skality.com</h4>
      </div>
      <div class="item">
        <fa-icon [icon]="faClock"></fa-icon>
        <h4>Mon - Fri: 9:00 - 9:00</h4>
      </div>
    </div>
    <div class="wrap-2">
      <fa name="facebook"></fa>
      <fa name="twitter"></fa>
      <fa name="instagram"></fa>
      <fa name="linkedin"></fa>
  
    </div>
  </div>
  </div>
</section>




<section #navBarSection class="navbar-section">

  <nav class="navbar navbar-expand-lg container">
    <a class="navbar-brand" href="#">Data Care</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <fa-icon [icon]="faBars"></fa-icon>
    </button>
    <div class="navbar-collapse collapse" id="navbarNavDropdown">
      <ul class="navbar-nav nav-pills">
        <li class="nav-item active">
          <a class="nav-link" href="#">Products <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item login">
          <a class="nav-link" href="#">Login</a>
        </li>
      </ul>
    </div>
  </nav>

</section>




<section class="welcome-section">
 
  <div class="model-wrap ">
    <div class="container">
    <div class="info-wrap">
      <h4>
        Integrating <br> Health&nbsp;Information&nbsp;Systems <br> Across Africa
      </h4>
      <p>With simplified access to health management tools, health practitioners use our integrated health systems in streamlining the daily practices in a more effecient and effective way, as they forster quality health care .</p>

      <button class="btn">Start Now <fa-icon [icon]="faArrowRight"></fa-icon> </button>
    </div>
    <div class="image-wrap">
      .
    </div>
  </div>
  </div>
  <div class="bg"><span>.</span></div>
</section>








<section class="product-section">

  <div class="model-wrap container">

    <div class="heading">
      <h4>Our <span>Products</span></h4>
    </div>
    <div class="product-item">
      <div class="image-wrap">
        <img src="../../../assets/illustrations/outpatient.PNG" alt="">
      </div>
      <div class="info-wrap">
        <h4 class="title">Out-Patient System</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi minima dignissimos officia et beatae itaque libero quia! Suscipit, magnam possimus, obcaecati a maxime corporis nihil, porro animi labore eaque perspiciatis.
        </p>
      </div>
    </div>

    <div class="product-item reverse">
      <div class="info-wrap">
        <h4 class="title">In-Patient System</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi minima dignissimos officia et beatae itaque libero quia! Suscipit, magnam possimus, obcaecati a maxime corporis nihil, porro animi labore eaque perspiciatis.
        </p>
      </div>
      <div class="image-wrap">
        <img src="../../../assets/illustrations/inpatient.jpg" alt="">
      </div>
    </div>

    <div class="product-item">
      <div class="image-wrap">
        <img src="../../../assets/illustrations/outpatient.PNG" alt="">
      </div>
      <div class="info-wrap">
        <h4 class="title">DHIS</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi minima dignissimos officia et beatae itaque libero quia! Suscipit, magnam possimus, obcaecati a maxime corporis nihil, porro animi labore eaque perspiciatis.
        </p>
      </div>
    </div>
  </div>

</section>




<section class="about-section">

  <div class="model-wrap">
    <div class="container">
    <div class="heading">
      <h4>About <span>Us</span></h4>
    </div>

    <div class="info-wrap">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem obcaecati unde, quas mollitia commodi iusto? Iste debitis voluptas nemo corrupti illum perferendis tenetur deserunt, fuga, ipsam mollitia facilis eaque? Quia?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem obcaecati unde, quas mollitia commodi iusto? Iste debitis voluptas nemo corrupti illum perferendis tenetur deserunt, fuga, ipsam mollitia facilis eaque? Quia?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem obcaecati unde, quas mollitia commodi iusto? Iste debitis voluptas nemo corrupti illum perferendis tenetur deserunt, fuga, ipsam mollitia facilis eaque? Quia?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem obcaecati unde, quas mollitia commodi iusto? Iste debitis voluptas nemo corrupti illum perferendis tenetur deserunt, fuga, ipsam mollitia facilis eaque? Quia?
      </p>
    </div>
  </div>
  </div>
  <div class="bg"><span>.</span></div>
</section>



<section class="contact-section">

  <div class="model-wrap container">

    <div class="heading">
      <h4>Contact <span>Us</span></h4>
    </div>
    <div class="info-wrap">
      <div class="social-item">
        <fa name=envelope></fa>
        <h6>datacare@skality.com</h6>
      </div>
      <div class="social-item">
        <fa name=facebook></fa>
        <h6>datacare_skality</h6>
      </div>
      <div class="social-item">
        <fa name=instagram></fa>
        <h6>datacare_skality</h6>
      </div>
      <div class="social-item">
        <fa name=linkedin></fa>
        <h6>Skality Datacare</h6>
      </div>
      <div class="social-item">
        <fa name=twitter></fa>
        <h6>@datacare_skality</h6>
      </div>
      <div class="social-item">
        <fa name=youtube></fa>
        <h6>datacare.skality@youtube.com</h6>
      </div>
    </div>

  </div>

</section>

<section class="footer-section">
    <div class="footer-top">
      <div class="container">
      <div class="wrap">
        <h4 class="head">Quick links</h4>
        <div class="text link" routerLink="/main/our-store">Our Products</div>
        <div class="text link" routerLink="/main/you-travel-club" >About Us</div>
        <div class="text link" routerLink="/main/you-kids">Contact Us</div>
      </div>
      <div class="wrap">
        <h4 class="head">Subscribe Newsletter</h4>
        <div class="input-wrap">`
          <input type="text">
          <div class="send"> <fa-icon [icon]="faPaperPlane"></fa-icon> </div>
        </div>
        <div class="text">Subscribe our newsletter to get update news and offers</div>
      </div>
      <div class="wrap">
        <h4 class="head">Contact Us</h4>
        <div class="text">37483, Ihub, Kenya</div>
        <div class="text email">contact@skality.com</div>
        <div class="social-wrap">
          <fa name="facebook"></fa>
          <fa name="twitter"></fa>
          <fa name="pinterest"></fa>
          <fa name="instagram"></fa>
        </div>
      </div>
    </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <h4>Copyright &copy; {{thisYear}}</h4>
      </div>
   
    </div>
  
  
</section>


</main>

  