
<article *ngIf="CustomLoader" class="custom-loader home">
    <div class="custom-loader-wrap">
        <div class="custom-loader-main">
        <div class="custom-loader-ball ball-one"></div>
        <div class="custom-loader-ball ball-two"></div>
        <div class="custom-loader-ball ball-three"></div>
        <div class="custom-loader-ball ball-four"></div>
        </div>
    </div>
  </article>



<main class="main">

<section class="top-section">
  <div class="container">
    <div class="top-section-wrap">
    <div class="wrap-1">
      <div class="item">
        <fa-icon [icon]="faEnvelope"></fa-icon>
        <h4>datacare@skality.com</h4>
      </div>
      <div class="item">
        <fa-icon [icon]="faClock"></fa-icon>
        <h4>Mon - Fri: 9:00 - 9:00</h4>
      </div>
    </div>
    <div class="wrap-2">
      <fa name="facebook"></fa>
      <fa name="twitter"></fa>
      <fa name="instagram"></fa>
      <fa name="linkedin"></fa>
  
    </div>
  </div>
  </div>
</section>




<section #navBarSection class="navbar-section">

  <nav class="navbar navbar-expand-lg container">
    <a class="navbar-brand" href="#">Data Care</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <fa-icon [icon]="faBars"></fa-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav nav-pills">
        <li class="nav-item active">
          <a class="nav-link" href="#">Products <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item login">
          <a class="nav-link" href="#">Login</a>
        </li>
      </ul>
    </div>
  </nav>

</section>




<section class="welcom-section">
  <div class="model-wrap container">
    <div class="info-wrap">
      <h4>
        Integrating <br> Health Information Systems <br> Across Africa
      </h4>
      <p>With simplified access to health management tools, health practitioners use our integrated health systems in streamlining the daily practices in a more effecient and effective way, as they forster quality health care .</p>

      <button class="btn">Start Using <fa-icon [icon]="faArrowRight"></fa-icon> </button>
    </div>
  </div>
</section>


<section class="module-section">

</section>


<section class="footer-section">

</section>


</main>

  