<article *ngIf="ImprintLoader" class="imprint-loader home">
    <div class="imprint-loader-wrap">
        <div class="imprint-loader-main">
        <div class="imprint-loader-ball ball-one"></div>
        <div class="imprint-loader-ball ball-two"></div>
        <div class="imprint-loader-ball ball-three"></div>
        <div class="imprint-loader-ball ball-four"></div>
        </div>
    </div>
</article>








<main>

<section class="form-section">
    <div class="clip-one">.</div>

    <div class="heading"> 
        <h4>Data <span>Care</span></h4>
        <fa-icon [icon]="faStethoscope"></fa-icon>
    </div>

    <div class="body">

        <h4 class="title">Welcome!</h4>
        <p class="desc">DataCare is a software system that digitalizes health data by providing efficient handling of medical records, data management tools, and intregration 
            of sub health systems for effective data consumption  </p>

        <h4 class="info-text">This system provides various sub health systems that includes: </h4> 

        <ol>
            <li> 
               <span class="list-item">Out Patient Medical System</span>  
              <span class="check"><fa-icon [icon]="faCheck"></fa-icon></span>
            </li>
            <li> 
                <span class="list-item">In Patient Medical System</span> 
                <span class="check"><fa-icon [icon]="faCheck"></fa-icon></span>
             </li>
             <li> 
                <span class="list-item">Departmental Clinics' System</span>
                <span class="check"><fa-icon [icon]="faCheck"></fa-icon></span>
             </li>
             <li> 
                <span class="list-item">Billing / Financial System </span> 
                <span class="check"><fa-icon [icon]="faCheck"></fa-icon></span>
             </li>
             <li> 
                <span class="list-item">Admin Management System</span> 
                <span class="check"><fa-icon [icon]="faCheck"></fa-icon></span>
             </li>
        </ol>

        

    </div>
    


</section>



<section class="illustration-section">
   
    <div class="clip-one">.</div>
   
     <div class="illustration-wrap">
        


        <div class="sign-in-card">
            <h5 class="head">Sign In</h5>

            <div class="form">

                <div class="form-group">
                    <input type="text" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password">
                </div>

                <div class="btn-wrap">
                    <button class="btn btn-sm" (click)="login()">Login</button>
                </div>

            </div>

        </div>






     </div> 
</section>




</main>













