<header>

    <h4 class="brand">Data <span>Care</span></h4>

    <div class="logo"><fa-icon [icon]="faStethoscope"></fa-icon></div>

    <div class="user">
        <fa-icon [icon]="faUser"></fa-icon>

        <div class="user-dropdown">
            <h4 routerLink="/login" >Logout</h4>
        </div>
    
    
    </div>
 
</header>



<main>

    <div class="container">


    <div class="heading">
        <h4>Hello Sainez !</h4>
        <p>Choose where to ...</p>

    </div>

    <div class="body-wrap">

        <div class="body-item">
            <div class="image-wrap">
                <fa-icon [icon]="faStethoscope"></fa-icon>
            </div>
            <div class="title-wrap">
                <h4>Out Patient</h4>
            </div>
        </div>



        <div class="body-item">
            <div class="image-wrap">
                <fa-icon [icon]="faStethoscope"></fa-icon>
            </div>
            <div class="title-wrap">
                <h4>In Patient</h4>
            </div>
        </div>



        <div class="body-item">
            <div class="image-wrap">
                <fa-icon [icon]="faStethoscope"></fa-icon>
            </div>
            <div class="title-wrap">
                <h4>Clinics</h4>
            </div>
        </div>



        <div class="body-item">
            <div class="image-wrap">
                <fa-icon [icon]="faStethoscope"></fa-icon>
            </div>
            <div class="title-wrap">
                <h4>Billing</h4>
            </div>
        </div>



        <div class="body-item">
            <div class="image-wrap">
                <fa-icon [icon]="faStethoscope"></fa-icon>
            </div>
            <div class="title-wrap">
                <h4>Admin </h4>
            </div>
        </div>


        
    </div>

    </div>

</main>

